<header>
  <div class="overlay">
    <h1>Health is Wealth</h1>
    <div id="container">

      <nav>
        <div id="logo">Jinnah Hospital</div>
        <ul>
          <% if user_signed_in? %>
          <li><%=link_to 'Doctors', doctors_path %></li>
          <li><%=link_to 'Appointments', appointments_path %></li>

          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>
            <%else %>
          <li><%=link_to 'Sign In', new_user_session_path %></li>
          <li><%=link_to 'Sign Up', new_user_registration_path %></li>
          <%end %>
        </ul>
      </nav>
    </div>
  </div>
</header>



<script>
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Pinyon Script', cursive; */
    /* font-family: 'Petit Formal Script', cursive; */
    /* font-family: 'Aguafina Script', cursive; */
    /* font-family: 'Rouge Script', cursive; */
    // font-family: 'Roboto', sans-serif;
</script>